<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
	<!-- <img id="upload" alt="" style="width: 200px; height: 200px"  src="">   -->


	<!-- 隐藏file标签 -->  
	<form action="">
		<input type="file" name="img_id[]"><br/>
		<input type="file" name="img_id[]"><br/>
		支付宝账号：<input type="text" id="#alipay" name="">
	</form>

	<button id="submit">提交</button>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>
	
</body>
</html>