<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script>
    	function Person(a, age){
    		this.name = a;
    		this.age = age;
    		// return {
    		// 	name: a,
    		// 	age: age
    		// };
    	// 	return function(){
    	// 		console.log(a, age);
    	// 	}
    		// return new String('hello, kally');
    	}


    	var p1 = new Person('kally', 18);
    	console.log(p1.constructor == Person);
    	// p1();

    	// function f1(){
    	// 	var n = 99;
    	// 	// function f2(){
    	// 	// 	console.log(n);
    	// 	// }
    	// 	return n;
    	// }
    	// var res = f1();
    	// console.log(res);


    	// function f1(){
    	// 	var n = 99;
    	// 	add = function(){
    	// 		n = n + 1;
    	// 	}
    	// 	function f2(){
    	// 		console.log(n);
    	// 	}
    	// 	return f2;
    	// }
    	// var res = f1();
    	// res();
    	// add();
    	// res();

    </script>
</body>
</html>